@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<section class="bg-image space-md" data-image-src="http://placehold.it/1670x680">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
                    <h1 class="font-white">Kendi Tarifini Bizimle Paylaş</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end:Inner page hero -->

<section class="contact-page inner-page">
    <div class="container">
        <div class="row">
            <!-- REGISTER -->
            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-body">
                        <!-- Contact form -->
                        <div class="form-horizontal contact-form" role="form">
                            <fieldset>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" id="fname" name="fname" type="text" placeholder="Tarif Adını Giriniz *" required>
                                    </div>
                                    </div>

                                @for (int i = 0; i < 5; i++)
                                {

                                    <div class="row form-group mt-1">
                                        <div class="col-xs-4">
                                        <select class="form-control b-r-0" id="exampleSelect1">
                                            <option>Malzeme Seçimi *</option>
                                            <option>Un</option>
                                            <option>Süt</option>
                                            <option>Yumurta</option>
                                        </select>
                                        <br>
                                    </div>
                                        <div class="col-xs-4">
                                            <input class="form-control" id="email" name="email" type="email" placeholder="Malzeme Ölçümü *" required>
                                        </div>
                                        <div class="col-xs-4">
                                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="Malzeme Miktarı *">
                                        </div>
                                    </div>
                                }


                                    
                            <div class="form-group">
                                <label for="exampleInputFile">Kategori Seçimi</label>
                                <select class="form-control b-r-0" id="exampleSelect1">
                                    <option>Rest Seçimi *</option>
                                    <option>rest1</option>
                                    <option>rest2</option>
                                    <option>rest3</option>
                                </select>
                            </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Açıklama Ekle</label>
                                        <textarea class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Tarif Fotoğrafı Ekle</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    </div>


                                <p>
                                    <button type="submit" class="btn theme-btn">Tarifi Yayınla</button>
                                </p>
                              
                            </fieldset>
                        </div>
                        <!-- End Contact form -->
                    </div>
                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
            <!-- WHY? -->
            <div class="col-md-4">
                <h4>Tariflerinizi paylaşmak için.</h4>
                <ul class="list-check list-unstyled">
                    <li>Adım1</li>
                    <li>Adım2</li>
                    <li>Adım3</li>
                    <li>Adım4</li>
                    <li>Adım5</li>
                </ul>
                <hr>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="ti-info-alt" aria-hidden="true"></i>Ek Bilgi</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                    </div>
                </div>
                <!-- end:panel -->

            </div>
            <!-- /WHY? -->
        </div>
    </div>
</section>