@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<section class="bg-image space-md" data-image-src="http://placehold.it/1670x680">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
                    <h1 class="font-white">Kendi Tarifini Bizimle Paylaş</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end:Inner page hero -->

<section class="contact-page inner-page">
    <div class="container">
        <div class="row">
            <!-- REGISTER -->
            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-body" id="widget-body">
                        <!-- Contact form -->
                        <div class="form-horizontal contact-form" role="form">
                            <fieldset id="fieldset">
                                


                                    <div class="row form-group">
                                        <div class="col-xs-12">
                                            <input class="form-control" id="recipeName" name="recipeName" type="text" placeholder="Tarif Adını Giriniz *" required>
                                        </div>
                                    </div>

                                    <table id="tblProducts" width="100%">
                                        <tbody></tbody>
                                        <tr>
                                            <td>
                                            
                                            <select class="form-control b-r-0" id="products" name="products">
                                                <option>Malzeme Seçimi *</option>
                                                <option>Un</option>
                                                <option>Süt</option>
                                                <option>Yumurta</option>
                                            </select>
                                            
                                            </td>
                                            <td>
                                                <select class="form-control b-r-0" id="unitOfProduct" name="unitOfProduct">
                                                    <option>Malzeme Birimi *</option>
                                                    <option>Su Bardağı</option>
                                                    <option>Çay Bardağı</option>
                                                    <option>Adet</option>
                                                </select>
                                            </td>
                                        <td>
                                                <input class="form-control" id="quantityOfProduct" name="quantityOfProduct" type="number" min="0" placeholder="Malzeme Miktarı *">
                                           </td>
                                        <td>
                                            <input type="button" id="btnAdd" class="btn btn-success float-xs-right w-100" value="Ekle" />
                                        </td>

                                            
                                        </tr>
                                    </table>


                                    <div class="form-group">
                                        <label for="exampleInputFile">Kategori Seçimi</label>
                                        <select class="form-control b-r-0" id="exampleSelect1">
                                            <option>Rest Seçimi *</option>
                                            <option>rest1</option>
                                            <option>rest2</option>
                                            <option>rest3</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Açıklama Ekle</label>
                                        <textarea class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Tarif Fotoğrafı Ekle</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    </div>


                                    <p>
                                        <button type="submit" class="btn theme-btn">Tarifi Yayınla</button>
                                    </p>
                                
                            </fieldset>
                        </div>
                        <!-- End Contact form -->
                    </div>
                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
            <!-- WHY? -->
            <div class="col-md-4">
                <h4>Tariflerinizi paylaşmak için.</h4>
                <ul class="list-check list-unstyled">
                    <li>Adım1</li>
                    <li>Adım2</li>
                    <li>Adım3</li>
                    <li>Adım4</li>
                    <li>Adım5</li>
                </ul>
                <hr>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="ti-info-alt" aria-hidden="true"></i>Ek Bilgi</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                    </div>
                </div>
                <!-- end:panel -->

            </div>
            <!-- /WHY? -->
        </div>
    </div>
</section>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<script type="text/javascript">
    $("#widget-body").on("click", "#btnAdd", function () {

        var products = $("#products");
        var unitOfProduct = $("#unitOfProduct");
        var quantityOfProduct = $("#quantityOfProduct");

        var tbody = $("#tblProducts > tbody")[0];

        //Add Row.
        var row = tbody.insertRow(-1);

        //Add Product cell
        cell = $(row.insertCell(-1));
        cell.html(products.val());

        //Add Name cell.
        var cell = $(row.insertCell(-1));
        cell.html(unitOfProduct.val());

        //Add Country cell.
        cell = $(row.insertCell(-1));
        cell.html(quantityOfProduct.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input/>");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.attr("class", "btn btn-danger btn-sm");
        btnRemove.val("x");
        cell.append(btnRemove);

        //Clear the TextBoxes.
        products.val("");
        unitOfProduct.val("");
        quantityOfProduct.val("");
        
    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("tr");
        var name = $("td", row).eq(0).html();
        if (confirm("Silmek istiyor musunuz? " + name)) {
            //Get the reference of the Table.
            var table = $("#products")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
        var skills = new Array();
        $("#tblSkills TBODY TR").each(function () {
            var row = $(this);
            var skill = {};
            skill.skill_name = row.find("TD").eq(0).html();
            skill.skill_value = row.find("TD").eq(1).html();
            skills.push(skill);
        });
        console.log(skills);

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/InsertSkills",
            data: JSON.stringify(skills),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert(r + " record(s) inserted.");
                location.reload();
            }
        });
    });
</script>