
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/animsition.min.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/css/RecipesStyle.css" rel="stylesheet">


<div class="page-wrapper">
    <!-- top Links -->
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <div class="inner-page-hero bg-image" data-image-src="http://placehold.it/1670x480">
        <div class="container"> </div>
        <!-- end:Container -->
    </div>
    <div class="result-show">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p><span class="primary-color"><strong>124</strong></span> Results so far
                </div>
                </p>
                <div class="col-sm-9">
                    <a href="AddRecipe.html" class="btn theme-btn  btn-block">Tarif Ekle</a>
                </div>
            </div>
        </div>
    </div>

    <!-- //results show -->
    <section class="restaurants-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div class="row">
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 15,99</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 18,49</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                                    <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                                    <div class="product-name">Fried Chicken with cheese</div>
                                    <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="profile.html" class="btn theme-btn-dash pull-right">Order Now</a> </div>
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Each popular food item starts -->
                        <div class="col-xs-12">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
                                    </li>
                                    <li class="page-item active"> <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a> </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- end:right row -->
                </div>
            </div>
        </div>
    </section>
    <section class="app-section">
        <div class="app-wrap">
            <div class="container">
                <div class="row text-img-block text-xs-left">

                    </a>
                </div>
            </div>
        </div>
</div>
                    </div>
                </div>
            </section>
<!-- start: FOOTER -->
<footer class="footer">
    <div class="container">
        <!-- top footer statrs -->
        <div class="row top-footer">
            <div class="col-xs-12 col-sm-3 footer-logo-block color-gray">
                <a href="#"> <img src="images/food-picky-logo.png" alt="Footer logo"> </a> <span>Order Delivery &amp; Take-Out </span>
            </div>
            <div class="col-xs-12 col-sm-2 about color-gray">
                <h5>About Us</h5>
                <ul>
                    <li><a href="#">About us</a> </li>
                    <li><a href="#">History</a> </li>
                    <li><a href="#">Our Team</a> </li>
                    <li><a href="#">We are hiring</a> </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 how-it-works-links color-gray">
                <h5>How it Works</h5>
                <ul>
                    <li><a href="#">Enter your location</a> </li>
                    <li><a href="#">Choose restaurant</a> </li>
                    <li><a href="#">Choose meal</a> </li>
                    <li><a href="#">Pay via credit card</a> </li>
                    <li><a href="#">Wait for delivery</a> </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 pages color-gray">
                <h5>Pages</h5>
                <ul>
                    <li><a href="#">Search results page</a> </li>
                    <li><a href="#">User Sing Up Page</a> </li>
                    <li><a href="#">Pricing page</a> </li>
                    <li><a href="#">Make order</a> </li>
                    <li><a href="#">Add to cart</a> </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 popular-locations color-gray">
                <h5>Popular locations</h5>
                <ul>
                    <li><a href="#">Sarajevo</a> </li>
                    <li><a href="#">Split</a> </li>
                    <li><a href="#">Tuzla</a> </li>
                    <li><a href="#">Sibenik</a> </li>
                    <li><a href="#">Zagreb</a> </li>
                    <li><a href="#">Brcko</a> </li>
                    <li><a href="#">Beograd</a> </li>
                    <li><a href="#">New York</a> </li>
                    <li><a href="#">Gradacac</a> </li>
                    <li><a href="#">Los Angeles</a> </li>
                </ul>
            </div>
        </div>
        <!-- top footer ends -->
        <!-- bottom footer statrs -->
        <div class="row bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 payment-options color-gray">
                        <h5>Payment Options</h5>
                        <ul>
                            <li>
                                <a href="#"> <img src="images/paypal.png" alt="Paypal"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/mastercard.png" alt="Mastercard"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/maestro.png" alt="Maestro"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/stripe.png" alt="Stripe"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/bitcoin.png" alt="Bitcoin"> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 address color-gray">
                        <h5>Address</h5>
                        <p>Concept design of oline food order and deliveye,planned as restaurant directory</p>
                        <h5>Phone: <a href="tel:+080000012222">080 000012 222</a></h5>
                    </div>
                    <div class="col-xs-12 col-sm-5 additional-info color-gray">
                        <h5>Addition informations</h5>
                        <p>Join the thousands of other restaurants who benefit from having their menus on TakeOff</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom footer ends -->
    </div>
</footer>
<!-- end:Footer -->
<!-- end:page wrapper -->
<!-- Bootstrap core JavaScript
================================================== -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/animsition.min.js"></script>
<script src="~/js/bootstrap-slider.min.js"></script>
<script src="~/js/jquery.isotope.min.js"></script>
<script src="~/js/headroom.js"></script>
<script src="~/js/foodpicky.min.js"></script>
