
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Tarif</td>
            <td>Siparis Durumu</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 4; i++)
        {

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        
    </tr>
        }
    </tbody>

</table>