@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@model List<Restaurant>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animsition.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/RestaurantStyle.css" rel="stylesheet">


<div class="page-wrapper">
    <!-- top Links -->
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <br>
    <h1><center>Restaurantlar</center></h1>
    <hr>
    <!-- end:Container -->
    <!-- //results show -->
    <section class="restaurants-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                    <div class="sidebar clearfix m-b-20">
                        <div class="main-block">
                            <div class="sidebar-title white-txt">
                                <h6>Restoran Kategorileri</h6> <i class="fa fa-cutlery pull-right"></i>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control search-field" placeholder="Restoran Ara..."> <span class="input-group-btn">
                                    <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <form>
                                <ul>
                                    @foreach (Category item in (List<Category>)ViewBag.Categories)
                                    {

                                        <li>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">@item.CategoryName</span>
                                            </label>
                                        </li>
                                    }

                                </ul>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <!-- end:Sidebar nav -->

                    </div>
                    <div class="widget clearfix">
                        <!-- /widget heading -->
                        <div class="widget-heading">
                            <h3 class="widget-title text-dark">
                                Yıldız Aralığı
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-body">
                            <div class="range-slider m-b-10">
                                <span id="ex2CurrentSliderValLabel"><span id="ex2SliderVal"><strong>3</strong></span><i class="fa fa-star"></i></span>
                                <br>
                                <input id="ex2" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3" />
                            </div>
                        </div>
                    </div>
                    <!-- end:Pricing widget -->
                    <div class="widget clearfix">
                        <!-- /widget heading -->
                        <div class="widget-heading">
                            <h3 class="widget-title text-dark">
                                Popüler Lezzetler
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-body">
                            <ul class="tags">
                                <li>
                                    <a href="#" class="tag">
                                        Pizza
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tag">
                                        Hamburger
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tag">
                                        Sandviç
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tag">
                                        Balık
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tag">
                                        Suşi
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tag">
                                        Salata
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:Widget -->
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">

                    <!-- end:Restaurant entry -->
                    @foreach (Restaurant item in Model)
                    {


                        <div class="bg-gray restaurant-entry">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                    <div class="entry-logo" style="height:100px; width:150px">
                                        <a class="img-fluid" href="#">
                                        <img src="../../images/restaurants/@item.Image" alt="Restaurant logo" height="100%"></a>
                                    </div>
                                    <!-- end:Logo -->
                                    <div class="entry-dscr">
                                        <h5><a href="#">@item.CompanyName</a></h5> <span>
                                            @item.Category.CategoryName
                                        </span>
                                        <ul class="list-inline">
                                        </ul>
                                    </div>
                                    <!-- end:Entry description -->
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                    <div class="right-content bg-white">
                                        <div class="right-review">
                                            <div class="rating-block"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                            <p> 245 Reviews</p> <a href="profile.html" class="btn theme-btn-dash">View Menu</a>
                                        </div>
                                    </div>
                                    <!-- end:right info -->
                                </div>
                            </div>
                            <!--end:row -->
                        </div>
                        <!-- end:Restaurant entry -->
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="app-section">
        <div class="app-wrap">
            <div class="container">
                <div class="row text-img-block text-xs-left">

                </div>
            </div>
        </div>
    </section>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/animsition.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/headroom.js"></script>
<script src="js/foodpicky.min.js"></script>

